@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

*{
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    
}