* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container_slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .container_images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .slider{
    opacity: 0;
    transition: 0.4em;
    width: 150%;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    right: 0rem;
  }


  .on{
    opacity: 1;
    position: relative;
  }

  .alergias{
    margin-left: 200px;
  }

  #next_btn{
    position: relative;
    left: 13rem;
  }

  #prev_btn, #next_btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #prev_btn img, #next_btn img {
    width: 100%;
    height: 100%;
  }

  #prev_btn{
    transform: rotate(180deg);
  }

  @media screen and (max-width: 768px) {
    .container_slider{
      display: flex;
      width: 100%;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  
    .container_images{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .slider{
      opacity: 0;
      transition: 0.4em;
      width: 100%;
      position: absolute;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      right: 0rem;
    }
  
  
    .on{
      opacity: 1;
      position: relative;
    }
  
    .container_saibamais{
      margin-left: 0px;
    }
    #next_btn{
      position: relative;
      left: 0rem;
    }
    .alergias{
      margin-left: 0;
    }
}

@media screen and (max-width: 426px) {
  .container_slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .container_images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .slider{
    opacity: 0;
    transition: 0.4em;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    right: 0rem;
  }


  .on{
    opacity: 1;
    position: relative;
  }

  .container_saibamais{
    margin-left: 0px;
  }
  #next_btn{
    position: relative;
    left: 0rem;
  }
  .alergias{
    margin-left: 0;
  }
}
    
