
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
main {
    width: 100%;
    max-height: 250vh;
    background-image: url('/image/bg.svg');
    background-size: cover;
    background-position: center;
}
section#text_center{
    font-family: 'Jomhuria';
    font-size: 2.7rem;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
/*cards*/
    section.cards {
    font-family: 'Shadows Into Light', cursive;
    background-image: url('/image/test.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
}
section.cards div.card_receita {
    padding-top: .1rem;
    background-color: #FFF5E0;
    color: #181818;
    height: 100%;
    width: 30%;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    opacity: 95%;
}
section.cards div.card_receita h1 {
    padding-left: .5rem;
    font-size: 2.7rem;
    font-weight: 100;
}
section.cards div.card_receita h3 {
    padding-left: 1.2rem;
    font-size: 1.9rem;
    font-weight: 100;
}

section.cards div.card_receita ul.qnt li.ingredientes{
    list-style: circle;
    list-style-position: inside;
    padding-top: 0.6rem;
    color: #181818;
    padding-left: 3.7rem;
    font-size: 1.2rem;
    max-width: 70%;
}
section.cards div.card_preparo ul.prep{
    width: 100%;
    position: relative;
}
section.cards div.card_preparo h1{
    text-align: center;
    font-size: 3.5rem;
    color: #E8FFCE
}
section.cards div.card_preparo ul.prep li.descr{
    list-style: circle;
    list-style-position: inside;
    padding-top: 0.6rem;
    color: #E8FFCE;
    padding-left: 3.7rem;
    font-size: 1.4rem;
}
section.card.slider {
    position: relative;
}
@media (max-width: 390px ) {
    main{
        width: 100%;
    }
    section#text_center img {
        width: 80%;
    }
    section#text_center p {
        font-size: 80%;
    }
    section#text_center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
@media (max-width: 500px ) {
    main{
        width: 100%;
    }
    section#text_center img {
        width: 80%;
    }
    section#text_center p {
        font-size: 80%;
    }
    section#text_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}