
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
main {
    height: 100vh;
    background-image: url('/img/bg.png');
    background-size: cover;
    background-position: center;
}
section#text_center{
    font-family: 'Jomhuria';
    font-size: 2.7rem;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
