main{
        background-image: url('/img/bg.svg');
        background-size: cover;
        background-position: center;

    text-align: center;
}

main h1{
    font-family: 'Coiny';
    padding-top: 30px;
    color: white;
}



.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_login{
    display: inline-grid;
    grid-template-columns:  auto 100px auto 200px;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

.card_login img{
    max-width:250px;
}


.form_login{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 3rem;
    background-color: #8C79B2;
    border-radius: 30px;
    text-align: center;
    width: 500px;
    padding-top: 1rem;

}

#Entrar{
    width: 250px;
    background-color: #231F33;
    border-style: none;
    border-radius: 5px;
    color: #FFECD6;
    margin-top: 0.5rem;
    padding: 0.3rem;
    font-size: 1.1rem;
}

.form_login button{
    width: 200px;
    background-color: #231F33;
    border-style: none;
    border-radius: 10px;
    color: #FFECD6;
    font-family: 'Coiny';
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 0.3rem;
    margin-bottom: 10px;
}

.form_login p {
    margin: 0.1rem;
    color: black;
    font-family: 'Coiny';
}

.form_login input{
    font-family: 'Coiny';
    background-color: #FFECD6;
    border-style: none;
    border-radius: 2px;
    color: rgba(0,0,0,0.6);
}

.form_login #email_login{
    margin-bottom: 0.4rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 300px;
    font-size: 1.1rem;
    padding-left: 1.5rem;
}

.form_login #senha_login{
    margin-bottom: 0.4rem;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0.4rem;
    width: 300px; 
    font-size: 1.1rem;  
    padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
    .card_login{
        padding-top: 2rem;
        display: block;
    }
    .form_login{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin: 3rem;
        background-color: #8C79B2;
        border-radius: 30px;
        text-align: center;
        width: 300px;
        padding-top: 1rem;
    }

    .form_login #email_login{
        margin-bottom: 0.4rem;
        padding: 10px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: black;
        width: 250px;
        font-size: 1rem;
        padding-left: 1.5rem;
    }
    
    .form_login #senha_login{
        margin-bottom: 0.4rem;
        border: 1px;
        border-style: solid;
        border-color: black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 0.4rem;
        width: 250px; 
        font-size: 1rem;  
        padding-left: 1.5rem;
    }
    .form_login button{
        width: 150px;
        background-color: #231F33;
        border-style: none;
        border-radius: 10px;
        color: #FFECD6;
        font-family: 'Coiny';
        margin-bottom: 10px;
        font-size: 1.2rem;
        padding: 0.3rem;
        margin-bottom: 10px;
    }
    
    
}

@media screen and (max-width: 426px) {
    .card_login{
        padding-top: 2rem;
        display: block;
    }
    .form_login{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin: 3rem;
        background-color: #8C79B2;
        border-radius: 30px;
        text-align: center;
        width: 300px;
        padding-top: 1rem;
    }

    .form_login #email_login{
        margin-bottom: 0.4rem;
        padding: 10px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: black;
        width: 250px;
        font-size: 1rem;
        padding-left: 1.5rem;
    }
    
    .form_login #senha_login{
        margin-bottom: 0.4rem;
        border: 1px;
        border-style: solid;
        border-color: black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 0.4rem;
        width: 250px; 
        font-size: 1rem;  
        padding-left: 1.5rem;
    }
    .form_login button{
        width: 150px;
        background-color: #231F33;
        border-style: none;
        border-radius: 10px;
        color: #FFECD6;
        font-family: 'Coiny';
        margin-bottom: 10px;
        font-size: 1.2rem;
        padding: 0.3rem;
        margin-bottom: 10px;
    }
    
}

