@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
nav, div, ul, li,a {
    text-decoration: none;
    color: #FFECD6;
    font-size: 1rem;
}
ul{
    list-style: none;
}
.links li a {
    color: #FFECD6;
    padding: 0.2rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.links li a:hover{
    background-color: #8C79B2;
    padding: 0.5rem 0.8rem;
    transition: all, 0.2s
}
/* header */


header {
    font-family: 'Coiny', sans-serif;
    background-color: #483F68;
    position: absolute;
    width: 100%;
}
.logo{
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}
.navbar .plant_two{
    position: relative;
    top: 15px;
}
.navbar .plant_one{
    position: absolute;
    left: 0px;
}
.fa-magnifying-glass {
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    margin-right: 0.8rem;
    cursor: pointer;
}
.navbar {
    width: 100%;
    height:95px;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 0px;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
    padding: 0px;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: #FFECD6;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn {
    background-color: #8C79B2;
    color: #FFECD6;
    padding: 0.4rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 0.5rem;
    max-width: 220px;
    max-height: 40px;
}
.action_btn:hover {
    scale:1.25;
    color: #FFECD6;
    transition: all, 0.2s;
    max-width: 220px;
    max-height: 40px;
}
.action_btn:active{
    scale: 0.95;
}
/* dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*responsive design*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}