
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
main {
    background-image: url('/img/bg.svg');
    background-size: cover;
    background-position: center;
}

.container_saibamais{
    display: inline-grid;
    grid-template-columns:  auto auto;
    column-gap: 200px;
    justify-content: center;
    align-items: center;
}

.list ul{
    list-style: circle;
    font-family: 'Coiny';
}

.list h1{
    font-family: 'Coiny';
    margin-left: 10%;
    font-size: 3rem;
    display: block;
}

.list li{
    margin-left: 10%;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    font-size: 2rem;
}



@media screen and (max-width: 768px) {
    .container_saibamais{
        display: block;
    }
    

}

@media screen and (max-width: 426px) {
    .container_saibamais{
        display: block;
    }
    
}