@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
main {
    background-color: #8b8799;
    font-family: 'Coiny' , sans-serif;
}
h1 {
    padding-top: 3%;
    font-size: 3rem;
    text-align: center;
    color: #FFECD6;
}
.about {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    text-align: center;
}
.about_text {
    font-size: 1.5rem;
    color: #FFF;
}
section {
    padding: 0% 8% 1% 15%;
}
@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px) {
    .about-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1195px) {
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .about-text{
        padding-top: 115px;
    }
    .about-img{
        text-align: center;
    }
    .about-img img{
        width: 560px;
        height: auto;
    }
    .about{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 680px) {
    .about-img img {
        width: 100%;
        height: auto;
    }

}